<a href="https://colab.research.google.com/github/AbymasBehhGaulMenn/SELASA_2C1240045/blob/main/p8_MuhammadAbiMasykur_2C1240045.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [2]:
arr = [10, 20, 30, 40]
print(arr)

[10, 20, 30, 40]

In [6]:
list_numbers = [1, 2, 3, 4, 5]
print(list_numbers)

[1, 2, 3, 4, 5]

In [8]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
print(list_numbers)

[100, 2, 3, 4, 5]

**MENDEKLARASIKAN ARRAY**

In [9]:
arr = [1, 2, 3, 4, 5]
print(arr)

[1, 2, 3, 4, 5]

In [10]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
print(data)

[1, 2, 3, 'hello', 5.5]

In [11]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
print(arr)

[0, 0, 0, 0, 0]

In [12]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [13]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [14]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [19]:
# Latihan Praktikum 8
# Soal satu

# Membuat array dengan 10 angka acak antara 1 dan 100
arr = [random.randint(1, 100) for _ in range(10)]
print("Array:", arr)

# Mencari nilai maksimum
max_value = max(arr)
print("Nilai maksimum:", max_value)

Array: [26, 76, 1, 93, 50, 91, 20, 70, 95, 58]
Nilai maksimum: 95

In [21]:
c

Array: [39 85 94  6 25 19  4 33 24  7]
Nilai minimum: 4

In [22]:
# Soal tiga
# Membuat array dengan 5 angka acak antara 1 dan 100
arr = np.random.randint(1, 100, size=5)
print("Array:", arr)

# Menjumlahkan semua elemen array
total = np.sum(arr)
print("Hasil penjumlahan:", total)

Array: [15 10 94 31 40]
Hasil penjumlahan: 190

In [23]:
#Soal empat
arr= [1,3,5,7,11,13,17,23,]
jumlah_elemen = len(arr)
print("jumlah elemen array:",jumlah_elemen)

jumlah elemen array: 8

In [26]:
#Soal lima
arr= [1,3,5,7,11,13,17,23,]
ratarata = sum(arr)/len(arr)
print("rata-rata elemen array:" ,ratarata)
#

rata-rata elemen array: 10.0

In [28]:
#Tugas 1
# Membuat array dengan 6 elemen integer
S = [1, 3, 5, 7, 11, 13]

# Menerima input integer dari pengguna
D = int(input("Masukkan nilai D: "))

# Mengalikan setiap elemen array dengan input integer dan mencetak hasilnya
for i in range(len(S)):
  S[i] = S[i] * D
print(S)

Masukkan nilai D: 3
[3, 9, 15, 21, 33, 39]

In [29]:
 #Tugas 2
 #Inisialisasi array T
T = [9, 12, 30, -1, 0, 4, -1, 3, 30, 14]  # Contoh array dengan 10 elemen

# Inisialisasi nilai terbesar dengan elemen pertama array
largest = T[0]

# Iterasi melalui array untuk mencari nilai terbesar
for element in T:
    if element > largest:
        largest = element

# Menampilkan nilai terbesar
print("Nilai terbesar dari T:", largest)

# Contoh array kedua
T = [1, 3, 5, 8, -12, 90, 3, 5] # Contoh array dengan 8 elemen

# Inisialisasi nilai terbesar dengan elemen pertama array
largest = T[0]

# Iterasi melalui array untuk mencari nilai terbesar
for element in T:
    if element > largest:
        largest = element

# Menampilkan nilai terbesar
print("Nilai terbesar dari T:", largest)

Nilai terbesar dari T: 30
Nilai terbesar dari T: 90